@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --violet: #532479;
}
.app {
  background-image: url("/img/background.png");
}
p {
  margin: 0 !important;
  line-height: normal !important;
}
.timer {
  background-color: var(--violet);
}
