@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --violet: #45013e;
  --green: #79bf79;
}
.app {
  background-image: url("/img/background.png");
  object-fit: cover;
  height: 100vh;
  padding: 2.5rem 0;
  z-index: -100;
  filter: brightness(80%);
}
p {
  margin: 0;
  line-height: normal;
}
button,
option {
  color: var(--violet);
}
label {
  color: white;
}
/*** TIMER ***/
.timer {
  background-color: var(--violet);
}
.time {
  margin-top: 0.5rem;
}
