@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --violet: #45013e;
  --green: #79bf79;
}

p {
  margin: 0;
  line-height: normal;
}
button,
option {
  color: var(--violet);
}
label {
  color: white;
}
/*** APP ***/
.app {
  background-image: url("/img/background.png");
  height: 100vh;
  z-index: -100;
  display: flex;
  padding: 3rem 0;
  justify-content: center;
}
/*** TIMER ***/
.timer {
  background-color: var(--violet);
}
.time {
  margin-top: 0.5rem;
}
.injury-time {
  background: rgb(217, 121, 4);
  background: -moz-linear-gradient(
    98deg,
    rgba(217, 121, 4, 1) 0%,
    rgba(219, 1, 1, 1) 25%,
    rgba(219, 76, 124, 1) 50%,
    rgba(223, 23, 89, 1) 75%,
    rgba(212, 0, 71, 1) 100%
  );
  background: -webkit-linear-gradient(
    98deg,
    rgba(217, 121, 4, 1) 0%,
    rgba(219, 1, 1, 1) 25%,
    rgba(219, 76, 124, 1) 50%,
    rgba(223, 23, 89, 1) 75%,
    rgba(212, 0, 71, 1) 100%
  );
  background: linear-gradient(
    98deg,
    rgba(217, 121, 4, 1) 0%,
    rgba(219, 1, 1, 1) 25%,
    rgba(219, 76, 124, 1) 50%,
    rgba(223, 23, 89, 1) 75%,
    rgba(212, 0, 71, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d97904",endColorstr="#d40047",GradientType=1);
}
